.body-class{
    background-color:beige
}
.header-class{
    background-color: white;
    color: blue;
}
.nav-class{
    background-color: lightblue;
}
.nav-item.active{
    color: black;
    font-weight: bold;
}

.nav-link-class {
    color: black;
}

.title-class{
    background-color: lightpink;
    color: blueviolet;
}
.section-title-class{
    color: blue;
}
.text-class{
    color: darkblue;
}
.image-class{
    border: 20px solid grey ;
    caption-side: bottom;
}
.bottomLeft{
    position: absolute;
    bottom: 25px;
    left: 16px;
    font-size: 18 px;
}
.form-class{
    background-color: antiquewhite;
    color: green;
}
.input-class{
    background-color: lightblue;
}
.button-class{
    background-color: lightpink;
    color: black;
}
.footer-class{
    background-color: lightblue;
    color: brown;
}