body{
    background-color: beige;
    color: brown;
    font-family:Arial, Helvetica, sans-serif;
    
}

nav{ 
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1{
    color: black;
    text-align: center;
    text-transform: uppercase;
}

h2{
    color: black;
    text-align: center;
}

h3{
    color: black;
    text-decoration:underline;
}

p{
    text-align: center;
    line-height: 2;
}

button{
    background-color: light burlywood;
    color: brown;
/*Figure out why submit button is not being affected*/
}

.form-class{
    color: brown;
}
/*Find way to move logo to top left*/

.input-class{
    background-color: beige;
    color: brown;
}

.image-class{
    text-align: center;
}